.divmenu{
    background-color: #009373;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.link_menu{
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
}

.imgMenu {
    width:150px;
}

.userSection{
    display: flex;
    font-weight: bolder;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    
}
.imgMenu2{
    width: 50px;
    margin-left: 15px;
    cursor: pointer;
    
}
